Repository RonLHead/rancid-tomatillos, pull requests merged in 2022-03, with the labels that each got.

#9 Iteration1/display movies
  public/index.html
  src/App.js
  src/components/App/App.css
  src/components/App/App.js
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.js
  src/components/Movies/Movies.css
  src/components/Movies/Movies.js
  src/index.css
  src/index.js
  src/movies-data.js
Labels: feature, comp

#11 Iteration2/single movie display
  src/components/App/App.js
  src/components/CurrentMovie/CurrentMovie.css
  src/components/CurrentMovie/CurrentMovie.js
  src/components/MovieCard/MovieCard.js
  src/components/Movies/Movies.js
  src/movies-data.js
Labels: feature, comp

#10 Iteration3/fetch
  src/apiCalls.js
  src/components/App/App.css
  src/components/App/App.js
  src/components/Movies/Movies.js
Labels: feature

#12 Iteration3/refactor
  public/index.html
  src/apiCalls.js
  src/components/App/App.js
  src/components/CurrentMovie/CurrentMovie.css
  src/components/CurrentMovie/CurrentMovie.js
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.js
  src/components/Movies/Movies.css
  src/components/Movies/Movies.js
  src/movies-data.js
Labels: refactor

#13 Set up error handling for current movie render
  src/components/App/App.js
Labels: feature, refactor

#14 Iteration3/refactor css
  src/components/CurrentMovie/CurrentMovie.css
  src/components/CurrentMovie/CurrentMovie.js
  src/components/Movies/Movies.js
Labels: comp

#15 Refactor styling
  src/components/CurrentMovie/CurrentMovie.css
  src/components/CurrentMovie/CurrentMovie.js
Labels: refactor, comp

#16 Iteration4/router
  package-lock.json
  package.json
  src/apiCalls.js
  src/components/App/App.js
  src/components/CurrentMovie/CurrentMovie.js
  src/components/MovieCard/MovieCard.js
  src/index.js
Labels: feature
