Repository RonLHead/rancid-tomatillos, pull requests merged in 2022-04, with the labels that each got.

#19 Iteration5
  cypress.json
  cypress/fixtures/example.json
  cypress/integration/current_movie_test_data.js
  cypress/integration/currentmovie_spec.js
  cypress/integration/movies_spec.js
  cypress/integration/movies_test_data.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  src/components/App/App.js
  src/components/CurrentMovie/CurrentMovie.js
  src/components/ErrorHandling/ErrorHandling.js
  src/components/MovieCard/MovieCard.js
  src/components/Movies/Movies.js
Labels: testing, comp

#20 Refactor/v1
  cypress/integration/currentmovie_spec.js
  cypress/integration/movies_spec.js
  cypress/integration/movies_test_data.js
  cypress/plugins/index.js
  src/App.test.js
  src/components/App/App.css
  src/components/App/App.js
  src/components/CurrentMovie/CurrentMovie.css
  src/components/CurrentMovie/CurrentMovie.js
  src/components/MovieCard/MovieCard.css
  src/components/MovieCard/MovieCard.js
  src/components/Movies/Movies.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
Labels: refactor

#22 Responsive layout
  src/components/CurrentMovie/CurrentMovie.css
  src/components/CurrentMovie/CurrentMovie.js
  src/index.css
Labels: feature, refactor, comp
